<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!--Server settings-->
    <add key="Server" value="192.168.0.254"/>
    <add key="ServerPort" value="5038"/>
    <add key="Username" value="ReadonlyAMIUser"/>
    <add key="Password" value="MySecretPassword"/>
    <!--Queues settings-->
    <add key="Queues" value="2880:Sales,2881:Marketing,2882:Helpdesk"/>
    <!--Application settings-->
    <add key="PollInterval" value="1000"/>
    <add key="AlwaysOnTop" value="true"/>
    <add key="PopupOnNewCall" value="true"/>
    <add key="StartAutoPollOnStartup" value="true"/>
    <add key="HightlightRowIfQueueNotEmpty" value="true"/>
    <add key="DateTimeFormat" value="H:mm:ss"/>
    <!--Style settings-->
    <add key="WindowTitle" value="AMI Queue Monitor"/>
    <add key="ConsoleFont" value="Consolas, 8pt"/>
    <add key="TableHeadersFont" value="Consolas, 8pt, style=Bold"/>
    <add key="TableRowsFont" value="Consolas, 8pt"/>
    <add key="TableRowsFont" value="Consolas, 8pt"/>
    <add key="StateIndicatorsFont" value="Consolas, 8pt"/>
    <add key="TableHeadersHeight" value="22"/>
    <add key="FormOrigin" value="20,20"/>
    <add key="FormSize" value="640,640"/>
    <add key="ConsoleSplitterRatio" value="0,6"/>
    <add key="QueuesSplitterRatio" value="0,28"/>
    <add key="TableHeadersColor" value="#B0C4DE"/>
    <add key="TableGridsColor" value="#B0C4DE"/>
    <add key="ConsoleAreaColor" value="#B0C4DE"/>
    <add key="QueuesAreaColor" value="#F0FFFF"/>
    <add key="TableHeadersTextColor" value="#000000"/>
    <add key="TableRowsTextColor" value="#000000"/>
    <add key="ConsoleInfoTextColor" value="#333333"/>
    <add key="ConsoleErrorTextColor" value="#D20020"/>
    <add key="HighlightRowColor" value="#FF8C00"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
